body{
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
}
main{
	margin-top: 60px;
}
.nav_main{
	background-color: white;
	position: fixed;
	width: 100%;
	z-index: 5;
	height: 60px;
	display: flex;
	align-items: center;
	top: 0%;
}
.item{
	display: inline-block;
	padding: 0rem 1rem;
}
.item a{
	text-decoration: none;
}
.list{
	width: 80%;
	text-align: right;
}
.nav_bar{
	padding: 0rem 1rem;
	width: 15%;
}
.hamburger{
	width: 100vw;
}
.cheesy_burger{
	position: relative;
}
.hamburger_name{
	position: absolute;
	top: 80%;
	left: 5%;
	font-size: 2rem;
	color: #696969;
}
.dish_intro{
	margin: 4rem auto;
	width: 80%;
	display: flex;
	align-items: center;
}
.tablesetting{
	width: 45%;
	margin: 0rem 1rem;
}
.tablesetting img{
	width: 100%;
	filter: opacity(0.8);
}
.description{
	width: 50%;
	font-family: serif;
	line-height: 1.6;
	font-size: 1.1rem;
	margin: 0px 1rem;
}
.intro{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
.row{
	width: 90%;
	margin: auto;
}
.menu{
	font-family: 'Nanum Gothic', sans-serif;
	word-spacing: 4px;
	width: 50%
}
.menu_desc{
	color: #696969; 
}
.contact_us{
	margin: 4rem auto;
	width: 80%;
}
.feedback input{
	display: block;
	width: 60%;
	margin: 2rem 0rem;
	padding: 1rem 1rem;
	border-width: 0px 0px 1px;
}
.feedback button{
	font-size: 1rem;
	padding: 0.6rem;
	margin: 1rem 0rem;
}

@media(max-width: 50rem){
	.dish_intro{
		margin: 1rem 0.4rem;
		width: 100%;
	}
}

@media(max-width: 40rem){
	.dish_intro{
		flex-direction: column;
	}
	.tablesetting{
		width: 100%;
	}
	.description{
		width: 100%;
	}
	.menu{
		width: 100%;
	}
	.hamburger_name{
		font-size: 1.2rem;
	}
	.contact_us{
		width: 100%;
		margin: 2rem 0.5rem
	}
	.feedback input{
		width: 90%;
	}
}
